---

- name: TIMESCALEDB | Download timescaledb key
  get_url:
    url: "{{ timescaledb_deb_key }}"
    dest: /tmp/timescaledb.gpg.key
    mode: '0644'

- name: TIMESCALEDB | Import timescaledb key
  command: "gpg --dearmor -o /etc/apt/trusted.gpg.d/timescaledb.gpg /tmp/timescaledb.gpg.key"
  args:
    creates: /etc/apt/trusted.gpg.d/timescaledb.gpg
  become: true
  changed_when: false

- name: TIMESCALEDB | Be sure timescaledb repo packages configured
  apt_repository:
    repo: "{{ timescaledb_deb_repo }}"
    state: present
    filename: "timescaledb"

- name: TIMESCALEDB | Be sure timescaledb packages are installed
  apt:
    name: "{{ timescaledb_release_name }}"
    state: present
    update_cache: true
